.number1 {
 color: blue;
}

.number2 {
    color: forestgreen;
}

.number3 {
    color: red;
}

.number4 {
    color: darkblue;
}

.number5 {
    color: darkred;
}

.number6 {
    color: purple;
}

.number7 {
    color: orange;
}

.number8 {
    color: yellow;
}
